<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229271992030-4kkcdj8uv8ik9niq1tj2qt4gnd7v3e7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229271992030-4kkcdj8uv8ik9niq1tj2qt4gnd7v3e7c</string>
	<key>API_KEY</key>
	<string>AIzaSyAp4RExMdPzzaHM6CC4osE5KFBFnXRJ3Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>229271992030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digival.FireBaseAuthWithoutPod-POC</string>
	<key>PROJECT_ID</key>
	<string>fir-authwithoutpod</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authwithoutpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229271992030:ios:3744ec319e566c6634344f</string>
</dict>
</plist>